CRM_POSTGRES_DB=crm_ai_project
CRM_POSTGRES_USER=crm_app
CRM_POSTGRES_PASSWORD=change-me
CRM_APP_PROFILE=dev
CRM_APP_USERNAME=admin
CRM_APP_PASSWORD=change-me-now
CRM_BOOTSTRAP_ENABLED=true
N8N_WEBHOOK_URL=
N8N_CONNECT_TIMEOUT_MS=2000
N8N_READ_TIMEOUT_MS=5000
N8N_RETRY_DELAY_MS=30000
N8N_RETRY_SCHEDULER_DELAY_MS=30000
N8N_MAX_ATTEMPTS=5
