CRM_POSTGRES_DB=crm_ai_project
CRM_POSTGRES_USER=replace_with_postgres_user
CRM_POSTGRES_PASSWORD=replace_with_strong_postgres_password

CRM_APP_USERNAME=replace_with_admin_login
CRM_APP_PASSWORD=replace_with_strong_admin_password

CRM_APP_PROFILE=dev
N8N_WEBHOOK_URL=

